<section>
  <div class="full-wide-header py4 px2">
    <div class="container">
      <h2 class="mb1 col-md-offset-2"><%= t('password_reset.password_reset') %></h2>
    </div>
  </div>
</section>

<div class="container bg-white">
  <%= form_tag password_resets_path, :method => :post do %>
    <div class="form-horizontal col-md-offset-2">
      <div class="form-group">
        <%= label_tag :email, t('user_model.email'), class: 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= text_field_tag :email, nil, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-offset-2">
        <%= submit_tag t('password_reset.reset'), class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
</div>


