<p id="notice"><%= notice %></p>

<h1>Listing Faqs</h1>

<table>
  <thead>
    <tr>
      <th>Faq category</th>
      <th>Sort order</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Answer detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= faq.faq_category_div.t %></td>
        <td><%= faq.sort_order %></td>
        <td><%= faq.question(locale).html_safe %></td>
        <td><%= faq.answer(locale).html_safe %></td>
        <td><%= faq.answer_detail(locale).html_safe %></td>
        <td><%= link_to 'Show', faq %></td>
        <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
        <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New FAQ', new_faq_path %>
