<%= form_for(@pledge) do |f| %>
  <% if @pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% @pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label :pledge, :reward_id %><br>
    <%= @pledge.reward.title(locale)%>
    <%= image_tag @pledge.reward.image(locale).thumb.url %>
    <%= f.hidden_field :reward_id%>
  </div>

  <!-- Pledge Payment -->
  <%= f.fields_for :pledge_payment do |ppf| %>
    <div class="field">
      <%= ppf.label :amount %><br>
      <%= ppf.number_field :amount, step: 0.01,
        value: @pledge.pledge_payment.amount_z, disabled: true %>
    </div>
    <div class="field">
      <%= ppf.label :shipping_rate %><br>
      <%= ppf.number_field :shipping_rate, step: 0.01,
        value: @pledge.pledge_payment.shipping_rate_z, disabled: true %>
    </div>
    <div class="field">
      <%= ppf.label :total_amount %><br>
      <%= ppf.number_field :total_amount, step: 0.01,
        value: @pledge.pledge_payment.total_amount_z, disabled: true %>
    </div>
    <div class="field">
      <%= ppf.label :payment_method_div %><br>
      <%= ppf.select :payment_method_div,
        Divs::PledgePaymentMethod.collection %>
    </div>
    <div class="field">
      <%= ppf.label :payment_vendor_id %><br>
      <%= ppf.select :payment_vendor_id,
        PaymentVendor.sorted.map{|p| [p.name(locale), p.id]} %>
    </div>
  <% end %>

  <!-- Pledge Shipping -->
  <% if @pledge.reward.ships_to_div == 2 || @pledge.reward.ships_to_div == 3 %>
    <%= f.fields_for :pledge_shipping do |psf| %>
      <div class="field">
        <%= psf.label :first_name %><br>
        <%= psf.text_field :first_name %>
      </div>
      <div class="field">
        <%= psf.label :last_name %><br>
        <%= psf.text_field :last_name %>
      </div>
      <% if @pledge.reward.ships_to_div == 2 %>
        <% list = @pledge.reward.reward_shippings.map{ |rs| [rs.nation.name, rs.nation.id] } %>
      <% else %>
        <% list = Nation.shipping_destinations.map{ |n| [n.name, n.id] } %>
      <% end %>
      <div class="field">
        <%= psf.label :nation_id %><br>
        <%= psf.select :nation_id, list, {include_blank: '-- Select a nation --'}, data: {reward_id: @pledge.reward.id} %>
      </div>
      <div class="field">
        <%= psf.label :tel %><br>
        <%= psf.text_field :tel %>
      </div>
      <div class="field">
        <%= psf.label :zip_code %><br>
        <%= psf.text_field :zip_code %>
      </div>
      <div class="field">
        <%= psf.label :address1 %><br>
        <%= psf.text_field :address1 %>
      </div>
      <div class="field">
        <%= psf.label :address2 %><br>
        <%= psf.text_field :address2 %>
      </div>
      <div class="field">
        <%= psf.label :address3 %><br>
        <%= psf.text_field :address3 %>
      </div>
      <div class="field">
        <%= psf.label :address4 %><br>
        <%= psf.text_field :address4 %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type='text/javascript'>
  
</script>
