<%= form_for(@pledge) do |f| %>
  <% if @pledge.errors.any? %>
    <%= render partial: 'layouts/error_container', locals: {errors: @pledge.errors} %>
  <% end %>

  <section>
    <div class="reward-title py4 px2">
      <div class="center">
        <h2 class="mb1"><%= @pledge.reward.project.title(locale) %></h2>
        <h5>by <%= link_to @pledge.reward.project.user.name, @pledge.reward.project.user %></h5>
      </div>
    </div>
  </section>

  <%= render 'form_for_modal'%>
<% end %>
