<h1>Listing Pledges</h1>

<table>
  <thead>
    <tr>
      <th>Reward</th>
      <th>User</th>
      <th>Pledged date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.reward.title(locale) %></td>
        <td><%= pledge.user.name %></td>
        <td><%= l pledge.pledged_at, format: :date %></td>
        <td><%= link_to 'Show', pledge %></td>
        <td><%= link_to 'Edit', edit_pledge_path(pledge) %></td>
        <td><%= link_to 'Destroy', pledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
