<p>
  <strong>Code:</strong>
  <%= @language.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @language.name_en %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @language.sort_order %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
