<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Twitter User:</strong>
  <%= @user.uses_twitter?.to_s %>
</p>

<p>
  <strong>Facebook User:</strong>
  <%= @user.uses_facebook?.to_s %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
