<section>
  <div class="profile-header py4 px2">
    <div class="container">
      <h2 class="mb1">
        <%= @user.name %>
        <% if @user == current_user %>
          <small>
            (<%= link_to 'Edit profile', edit_user_path(@user) %>)
          </small>
        <% end %>
      </h2>
      <% backed_count = Project.backed_by(@user.id).count %>
      <h4>backed <%= backed_count %>&nbsp;<%= 'project'.pluralize(backed_count) %></h4>
      <h5 class="mt2"><kbd>f</kbd><a href="https://www.facebook.com"> shizukakakimoto.9</a></h5>
      <h5 class="mt1"><kbd>t</kbd><a href="https://www.twitter.com"> xiz-tky</a></h5>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">

    <div class="posted-projects py3">
      <h3 class="my2">Posted projects</h3>
      <div class="row">
        <% Project.posted_by(@user).each do |p| %>
          <div class="col-md-10 project-card-wrap">
            <div class="project-card">
              <div class="project-image">
                <%= link_to image_tag(p.image(locale)), project_by_code_path(p.code) %>
              </div>
              <div class="project-card-description">
                <% sum = p.summary %>
                <h4><%= link_to p.title(locale), project_by_code_path(p.code) %></h4>
                <p><%= link_to p.user.name, p.user %></p>
                <p class="grey-dark"><%= p.blurb(locale) %></p>
                <div class="project-card-footer">
                  <div class="project-location-category">
                    <%= link_to discover_category_path(p.category), class: 'mr2' do %>
                      <i class="glyphicon glyphicon-tag"></i>
                      <%= p.category.name(locale) %>
                    <% end %>
                    <i class="glyphicon glyphicon-globe"></i>
                    <% p.project_locales.each do |l|%>
                      <kbd><%= l.language.code %></kbd>
                    <% end %>
                  </div>
                  <div class="project-status-wrap absolute-bottom">
                    <div class="project-progress mb1">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width:<%= sum.achieved %>%">
                        </div>
                      </div>
                    </div>
                    <ul class="project-status list-inline">
                      <li class="mr2">
                        <strong class="block h4"><%= sum.achieved %>%</strong>
                        <span class="grey-dark">funded</span>
                      </li>
                      <li class="mr2">
                        <strong class="block h4">$<%= sum.funded_amount_f %></strong>
                        <span class="grey-dark">pledged</span>
                      </li>
                      <li class="mr2">
                        <strong class="block h4"><%= sum.funded_count %></strong>
                        <span class="grey-dark">backers</span>
                      </li>
                      <li class="mr2">
                        <strong class="block h4"><%= p.days_to_go %></strong>
                        <span class="grey-dark">days to go</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="backed-projects py3">
      <h3 class="my2">Backed projects</h3>
      <div class="row">
        <% Project.backed_by(@user).each do |p| %>
          <div class="col-md-10 project-card-wrap">
            <div class="project-card">
              <div class="project-image">
                <%= link_to image_tag(p.image(locale)), project_by_code_path(p.code) %>
              </div>
              <div class="project-card-description">
                <% sum = p.summary %>
                <h4><%= link_to p.title(locale), project_by_code_path(p.code) %></h4>
                <p><%= link_to p.user.name, p.user %></p>
                <p class="grey-dark">Short description about the project. This should be taken from the database. Then it needs to be developed!</p>
                <div class="project-card-footer">
                  <div class="project-location-category">
                    <%= link_to discover_category_path(p.category), class: 'mr2' do %>
                      <i class="glyphicon glyphicon-tag"></i>
                      <%= p.category.name(locale) %>
                    <% end %>
                    <i class="glyphicon glyphicon-globe"></i>
                    <% p.project_locales.each do |l|%>
                      <kbd><%= l.language.code %></kbd>
                    <% end %>
                  </div>
                  <div class="project-status-wrap absolute-bottom">
                    <div class="project-progress mb1">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width:<%= sum.achieved %>%">
                        </div>
                      </div>
                    </div>
                    <ul class="project-status list-inline">
                      <li class="mr2">
                        <strong class="block h4"><%= sum.achieved %>%</strong>
                        <span class="grey-dark">funded</span>
                      </li>
                      <li class="mr2">
                        <strong class="block h4">$<%= sum.funded_amount_f %></strong>
                        <span class="grey-dark">pledged</span>
                      </li>
                      <li class="mr2">
                        <strong class="block h4"><%= sum.funded_count %></strong>
                        <span class="grey-dark">backers</span>
                      </li>
                      <li class="mr2">
                        <strong class="block h4"><%= p.days_to_go %></strong>
                        <span class="grey-dark">days to go</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
