<%= form_for(@division) do |f| %>
  <% if @division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
      <% @division.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <div class="field">
      <%= f.label :code %><br>
      <%= f.number_field :code %>
    </div>
    <div class="field">
      <%= f.label :val %><br>
      <%= f.number_field :val %>
    </div>
    <div class="field">
      <%= f.label :sort_order %><br>
      <%= f.number_field :sort_order %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <% Language.sorted.each do |l| %>
      <hr>
      <strong><%= f.label :language_id, l.name_en %></strong>
      <% dl = @division.get_or_new_locale(l.id) %>
      <%= f.fields_for :division_locales, dl do |dlf| %>
        <%= render partial: "division_locale_form", locals: {f: dlf, dl: dl} %>
      <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
