<p>
  <strong>Code:</strong>
  <%= @division.code %>
</p>

<p>
  <strong>Val:</strong>
  <%= @division.val %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @division.sort_order %>
</p>

<p>
  <strong>Description:</strong>
  <%= @division.description %>
</p>

<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
