<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <%= render partial: 'layouts/error_container', locals: {errors: @project.errors} %>
  <% end %>

  <section>
    <div class="full-wide-header py4 px2">
      <div class="container">
        <h2 class="mb1">Edit Rewards</h2>
      </div>
    </div>
  </section>

  <section>
    <div class="container py2">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <% @project.rewards.build if @project.rewards.size == 0 %>
          <%= f.fields_for :rewards do |rf| %>
            <%= render partial: "reward_form", locals: {f: rf} %>
          <% end %>
          <%= link_to_add_field("Add Reward", f, :rewards, {}) %>

          <%= hidden_field_tag :update_rewards, :true %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container py2">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-4">
              <%= link_to 'Back', edit_project_path(@project), class: 'btn btn-default btn-lg btn-block' %>
            </div>
            <div class="col-md-4">
              <%= f.submit 'Save Draft', name: :save_draft, class: 'btn btn-default btn-lg btn-block' %>
            </div>
            <div class="col-md-4">
              <%= f.submit 'Preview', name: :preview, class: 'btn btn-info btn-lg btn-block' %>
            </div>
          </div>
          <h4 class="pt2">
            <%= link_to 'Discard', discard_project_path(@project), data: { confirm: 'Are you sure?' } %>
          </h4>
        </div>
      </div>
    </div>
  </section>

<% end %>
