<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <div class="field">
      <%= f.label :language_id %><br>
      <%= f.select :language_id, Language.all.map{|l| [l.name_en, l.id]}, selected: @project.main_language %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, Category.all.map{|c| [c.name(locale), c.id]} %>
    </div>
    <% ph = @project.get_or_new_header(@project.main_language.code) %>
    <%= f.fields_for :project_headers, ph do |phf| %>
      <%= render partial: "project_header_form", locals: {f: phf} %>
    <% end %>
    <div class="field">
      <%= f.label :goal_amount %><br>
      <%= f.number_field :goal_amount, step: 0.01, value: @project.goal_amount_f %>
    </div>
    <div class="field">
      <%= f.label :duration_days %><br>
      <%= f.number_field :duration_days %>
    </div>
    <% pc = @project.get_or_new_content(@project.main_language.code)%>
    <%= f.fields_for :project_contents, pc do |pcf| %>
      <%= render partial: "project_content_form", locals: {f: pcf } %>
    <% end %>

    <% Language.where.not(id: @project.main_language).order(:sort_order).each do |l| %>
      <hr>
      <% ph = @project.get_or_new_header(l.code) %>
      <%= f.fields_for :project_headers, ph do |phf| %>
        <%= render partial: "project_header_form", locals: {f: phf} %>
      <% end %>
      <% pc = @project.get_or_new_content(l.code)%>
      <%= f.fields_for :project_contents, pc do |pcf| %>
        <%= render partial: "project_content_form", locals: {f: pcf } %>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
