<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <%= render partial: 'layouts/error_container', locals: {errors: @project.errors} %>
  <% end %>

  <section>
    <div class="full-wide-header py3 px2">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-6">
                <%= link_to edit_project_path(@project), class: 'btn btn-default btn-lg btn-block' do %>
                  Step1<br><br><h3>Project Basics</h3>
                <% end %>
              </div>
              <div class="col-md-6">
                <%= link_to '#', class: 'btn btn-primary btn-lg btn-block' do %>
                  Step2<br><br><h3>Rewards</h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container py2">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <% @project.rewards.build if @project.rewards.size == 0 %>
          <%= f.fields_for :rewards do |rf| %>
            <%= render partial: "reward_form", locals: {f: rf} %>
          <% end %>
          <%= link_to_add_field("Add Reward", f, :rewards, {}) %>

          <%= hidden_field_tag :update_rewards, :true %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container py2">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-6">
              <%= f.submit 'Save Draft', name: :save_draft, class: 'btn btn-default btn-lg btn-block' %>
            </div>
            <div class="col-md-6">
              <%= f.submit 'Preview', name: :preview, class: 'btn btn-info btn-lg btn-block' %>
            </div>
          </div>
          <h4 class="pt2">
            <%= link_to 'Discard', discard_project_path(@project), data: { confirm: 'Are you sure?' } %>&nbsp;|
            <%= link_to 'Back to Step1', edit_project_path(@project) %>
          </h4>
        </div>
      </div>
    </div>
  </section>

<% end %>
