<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.fields_for :rewards do |rf| %>
      <%= render partial: "reward_form", locals: {f: rf} %>
    <% end %>
    <%= link_to_add_field("Add Reward", f, :rewards, {}) %>

    <%= hidden_field_tag :update_rewards, :true %>
    <div class="actions">
      <%= f.submit 'Update Rewards' %>
    </div>
  </div>
<% end %>
