<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <h2>- Project Info -</h2>
    <div class="field">
      <%= f.label :main_language_id %><br>
      <%= f.select :main_language_id, Language.all.map{|l| [l.name_en, l.id]}, selected: @project.main_language.id %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, Category.all.map{|c| [c.name(locale), c.id]} %>
    </div>
    <div class="field">
      <%= f.label :goal_amount %><br>
      <%= f.number_field :goal_amount, step: 0.01, value: @project.goal_amount_z %>
    </div>
    <div class="field">
      <%= f.label :duration_days %><br>
      <%= f.number_field :duration_days %>
    </div>
    <div class="field">
      <%= f.label :applied_begin_date, 'Begin Date' %><br>
      <%= f.date_field :applied_begin_date %>
    </div>

    <% # Language.where.not(id: @project.main_language).order(:sort_order).each do |l| %>
    <% Language.sorted.each do |l| %>
      <hr>
      <strong><%= f.label :language_id, l.name_en %></strong>
      <% pl = @project.get_or_new_locale(l.id) %>
      <%= f.fields_for :project_locales, pl do |plf| %>
        <%= render partial: "project_locale_form", locals: {f: plf, pl: pl} %>
      <% end %>
      <% ph = @project.get_or_new_header(l.id) %>
      <%= f.fields_for :project_headers, ph do |phf| %>
        <%= render partial: "project_header_form", locals: {f: phf} %>
      <% end %>
      <% pc = @project.get_or_new_content(l.id)%>
      <%= f.fields_for :project_contents, pc do |pcf| %>
        <%= render partial: "project_content_form", locals: {f: pcf } %>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
