<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :image_path %><br>
  <%= f.text_field :image_path %>
</div>
<%= f.hidden_field :language_id %>
<%= f.hidden_field :id %>
