<div class="field-group">
  <% r = f.object %>
  <% if r.new_record? %>
    <h2>New Reward</h2>
  <% else %>
    <h2>Reward #<%= f.options[:child_index]+1 %></h2>
  <% end%>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, step: 0.01, value: r.price_z %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>

  <div class="field">
    <%= f.label :ships_to_div, 'Ships to' %><br>
    <%= f.select :ships_to_div,
      Division.find_by_code(:reward_ships_to).map{|d| [d.name(locale), d.val]}, {},
      class: 'reward_ships_to',
      data: { estimated_delivery: "reward_#{f.options[:child_index]}_estimated_delivery",
              nation_group: "reward_#{f.options[:child_index]}_nation_group",
              default_shipping_rate: "reward_#{f.options[:child_index]}_default_shipping_rate" } %>
  </div>
  <% if !f.object.ships_to_div || f.object.ships_to_div == 1 %><!-- if no_shipping -->
    <% style_ed = "style='display: none;'".html_safe %>
    <% style_ng = "style='display: none;'".html_safe %>
    <% style_dsr = "style='display: none;'".html_safe %>
  <% elsif f.object.ships_to_div == 2 %><!-- if only_certain_countries -->
    <% style_dsr = "style='display: none;'".html_safe %>
  <% end %>
  <div class="field" id="reward_<%= f.options[:child_index] %>_estimated_delivery" <%= style_ed %>>
    <%= f.label :estimated_delivery %><br>
    <%= f.date_select :estimated_delivery,
      start_year: Date.today.year, end_year: Date.today.year+2, discard_day: :true %>
  </div>
  <div class="field-group" id="reward_<%= f.options[:child_index] %>_nation_group" <%= style_ng %>>
    <%= f.fields_for :reward_shippings do |rsf| %>
      <%= render partial: "reward_shipping_form", locals: {f: rsf} %>
    <% end %>
    <%= link_to_add_field("Add Nation", f, :reward_shippings, {}) %>
  </div>
  <div class="field" id="reward_<%= f.options[:child_index] %>_default_shipping_rate" <%= style_dsr %>>
    <%= f.label :default_shipping_rate, 'Shipping rate of the rest of the world' %><br>
    <%= f.number_field :default_shipping_rate, step: 0.01, value: r.default_shipping_rate_z %>
  </div>

  <% @project.project_locales_sorted.each do |pl| %>
    <% l = Language.find(pl.language_id) %>
    <hr>
    <strong><%= f.label :language_id, l.name_en %></strong>
    <% rc = r.get_or_new_content(l.id) %>
    <%= f.fields_for :reward_contents, rc do |rcf| %>
      <%= render partial: "reward_content_form", locals: {f: rcf} %>
    <% end %>
  <% end %>
  <%= link_to_remove_field("Remove", f, {}) %>
  <%= f.hidden_field :id %>
</div>
