<% disabled = disabled || false %>

<div class="form-group">
  <div class="col-md-5">
    <% unless disabled %>
      <%= f.select :nation_id, Nation.shipping_destinations.map{|n| [n.name, n.id]}, {}, class: 'form-control' %>
    <% else %>
      <%= f.text_field :nation_id, value: Nation.find(f.object.nation_id).name, disabled: disabled, class: 'form-control' %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= f.number_field :shipping_rate, step: 0.01, value: f.object.shipping_rate_z, disabled: disabled, class: 'form-control' %>
  </div>
  <%= link_to_remove_field(t('reward_edit.remove_nation'), f, {}) unless disabled %>
  <%= f.hidden_field :id %>
</div>
