<section>
  <div class="container modal-container">
    <h4 class="my1 text-right">Count: <%= @pledges.size %></h4>
    <table class="table">
      <thead>
        <tr>
          <th>Reward</th>
          <th>User</th>
          <th>Pledged date</th>
          <th>Amount</th>
          <th>Shipping rate</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <% @pledges.each do |pledge| %>
          <tr>
            <td><%= pledge.reward.title(locale) %></td>
            <td><%= pledge.user.name %></td>
            <td><%= l pledge.pledged_at, format: :long %></td>
            <td><%= pledge.pledge_payment.amount_f %></td>
            <td><%= pledge.pledge_payment.shipping_rate_f %></td>
            <td><%= pledge.pledge_payment.total_amount_f %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
