<hr>
<strong><%= "Reward ##{idx+1}" %></strong>
<p>
  <strong>Price</strong>
  <%= r.price_f %>
</p>

<p>
  <strong>Count</strong>
  <%= r.count %>
</p>

<p>
  <strong>Title</strong>
  <%= r.title(locale) %>
</p>

<p>
  <strong>Image Path</strong>
  <%= r.image_path(locale) %>
</p>

<p>
  <strong>Description</strong>
  <%= r.description(locale) %>
</p>
