<section>
  <div class="container modal-container">
    <h4 class="my1 text-right"><%= t('profile_pledge_modal.count', pledge_count: @pledges.size) %></h4>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('pledge_model.reward') %></th>
          <th><%= t('pledge_model.user') %></th>
          <th><%= t('pledge_model.pledged_date') %></th>
          <th><%= t('pledge_model.amount') %></th>
          <th><%= t('pledge_model.shipping_rate') %></th>
          <th><%= t('pledge_model.total') %></th>
        </tr>
      </thead>

      <tbody>
        <% @pledges.each do |pledge| %>
          <tr>
            <td><%= pledge.reward.title(locale) %></td>
            <td><%= pledge.user.name %></td>
            <td><%= l pledge.pledged_at, format: :long %></td>
            <td><%= pledge.pledge_payment.amount_f %></td>
            <td><%= pledge.pledge_payment.shipping_rate_f %></td>
            <td><%= pledge.pledge_payment.total_amount_f %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
