<hr>
<strong><%= "Reward ##{idx+1}" %></strong>
<p>
  <strong>Title</strong>
  <%= r.title(locale) %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag r.image(locale), height: 300 %>
</p>

<p>
  <strong>Price</strong>
  <%= r.price_f %>
</p>

<p>
  <strong>Count</strong>
  <%= r.count %>
</p>

<p>
  <strong>Estimated delivery</strong>
  <%= l r.estimated_delivery, format: :y_m %>
</p>

<p>
  <strong>Description</strong>
  <%= r.description(locale) %>
</p>

<%= link_to 'Pledge', new_pledge_path(r) %><br>
