<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Goal amount</th>
      <th>Duration days</th>
      <th>Image Path</th>
      <th>Languages</th>
      <th>Rewards</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title(locale)  %></td>
        <td><%= project.category.name(locale) %></td>
        <td><%= project.goal_amount_f %></td>
        <td><%= project.duration_days %></td>
        <td><%= project.image_path(locale) %></td>
        <td><%= project.languages.join(',') %></td>
        <td><%= project.rewards.size %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Rewards', edit_rewards_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
