<% if @is_preview %>
  <h2>This is preview</h2>
<% end %>
<p>
  <strong>Title</strong>
  <%= @project.title(locale) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name(locale) %>
</p>

<p>
  <strong>Goal amount:</strong>
  <%= @project.goal_amount_f %>
</p>

<p>
  <strong>Duration days:</strong>
  <%= @project.duration_days %>
</p>

<p>
  <strong>Begin Date:</strong>
  <%= l @project.applied_begin_date, format: :date %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag @project.image(locale), height: 300 %>
</p>

<p>
  <strong>Detail</strong>
  <!--<%= simple_format(@project.body(locale)) %>-->
  <%= @project.body(locale).html_safe %>
</p>

<% @project.rewards.each_with_index do |r, idx| %>
  <%= render partial: 'show_reward', locals: {r: r, idx: idx} %>
<% end%>

<br>
<% if @is_preview %>
  <% if @project.user == current_user && (@project.status_div_draft? || @project.status_div_remanded?) %>
    <%= link_to 'Back', edit_rewards_project_path(@project) %> |
    <%= link_to 'Apply', apply_project_path(@project), data: { confirm: 'Are you sure?' } %>
  <% elsif current_user.is_admin && @project.status_div_applied? %>
    <%= link_to 'Remand', remand_project_path(@project), data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Approve', approve_project_path(@project), data: { confirm: 'Are you sure?' } %>
  <% end %>
<% else %>
  <% if (@project.user == current_user || current_user.is_admin) && @project.status_div_active? %>
    <%= link_to 'Suspend', suspend_project_path(@project), data: { confirm: 'Are you sure?' } %>
  <% elsif current_user.is_admin && @project.status_div_suspended? %>
    <%= link_to 'Resume', approve_project_path(@project), data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Drop', drop_project_path(@project), data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Project List', projects_path %>
<% end %>
