<% p = @project %>
<section class="project-hero">
  <div class="project-hero-title py4 px2">
    <div class="center">
      <h2 class="mb1"><%= p.title(locale) %></h2>
      <h5>by <%= link_to p.user.name, p.user %></h5>
    </div>
  </div>
  <div class="project-hero-content container px2">
    <div class="row">
      <div class="col-md-8">
        <div class="project-hero-image mb4">
          <%= image_tag p.image(locale) %>
        </div>
        <div class="project-hero-description">
          <div class="h5 mb3">
            <%= link_to discover_category_path(p.category), class: 'mr2' do %>
              <i class="glyphicon glyphicon-tag"></i>
              <%= p.category.name(locale) %>
            <% end %>
            <i class="glyphicon glyphicon-globe"></i>
            <% p.project_locales.each do |l|%>
              <kbd><%= l.language.code %></kbd>
            <% end %>
          </div>
          <p class="h3 mb3"><%= p.blurb(locale) %></p>
          <div class="mb3">
            <div class="social clearfix">
              <!-- Facebook -->
              <div class="button facebook">
                <div id="fb-root"></div>
                <div class="fb-share-button"
                  data-href="<%= request.url %>"
                  data-layout="button_count"
                  data-width="120"
                  data-show-faces="false"
                  data-mobile-iframe="true">
                </div>
              </div>
              <!-- Twitter -->
              <div class="button twitter">
                <a href="https://twitter.com/share" class="twitter-share-button"
                  data-lang="en"
                  data-url="<%= request.url %>"
                  data-text="<%= p.title(locale) %>"
                >Tweet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-hero-stats">
          <% sum = p.summary %>
          <div class="row">
            <div class="col col-md-12 mb3">
              <div><h1 class="bold"><%= sum.funded_count %></h1></div>
              <span>backers</span>
            </div>
            <div class="col col-md-12 mb3">
              <div><h1 class="bold">$<%= sum.funded_amount_f %></h1></div>
              <span>pledged of $<%= p.goal_amount_f %> goal</span>
            </div>
            <div class="col col-md-12 mb3">
              <div><h1 class="bold"><%= p.days_to_go %></h1></div>
              <span>days to go</span>
            </div>
          </div>
          <div class="project-hero-back pt4">
            <a href="#rewards-list" class="btn btn-info btn-ghost  btn-lg">Back This Project</a>
          </div>
          <div class="py4">
            <div class="row">
              <div class="col col-md-12">
                <h6 class="mb2">This project will end on <%= l p.end_at, format: :date %></h6>
              </div>
              <div class="col col-md-8">
                <h5 class="mb1"><%= p.user.name %></h5>
                <p>
                  <%= link_to 'See full bio', p.user %>
                </p>
              </div>
              <div class="col col-md-4">
              </div>
            </div>
          </div>
        </div>
        <div class="project-hero-bio">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="project-content">
  <div class="bg-white">
    <div class="container px2">
      <div class="row">
        <div class="col col-md-8">
          <div class="mb4">
            <h3>About this project</h3>
          </div>
          <div class="project-content-body">
            <%= p.body(locale).html_safe %>
          </div>
          <div class="mb4">
            <a href="#rewards-list" class= "btn btn-info btn-block">Back this project</a>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="mb4">
            <h3 id="rewards-list">Rewards</h3>
          </div>
          <ul class="list-no-style pl0">
            <% p.rewards.each do |r| %>
              <li class="reward-tile-wrap">
                <div class="reward-tile">
                  <h3 class="mb1">Reward of $<%= r.price_f %></h3>
                  <span class="block mb1"><%= r.left_count %> left of <%= r.count %></span>
                  <div class="reward-image mb1">
                    <%= image_tag r.image(locale) %>
                  </div>
                  <div class="reward-description mb1">
                    <%= simple_format h r.description(locale) %>
                  </div>
                  <div class="reward-footer mb1">
                    <div class="reward-footer-item">
                      <span class="item-label">Estimated delivery:</span>
                      <span class="item-data"><%= l r.estimated_delivery, format: :date %></span>
                    </div>
                    <div class="reward-footer-item">
                      <span class="item-label">Ships to:</span>
                      <span class="item-data"><%= r.ships_to_div.t %></span>
                    </div>
                  </div>
                  <div class="pledge-button">
                    <%= link_to 'Pledge this reward', '#pledge-modal',
                      class: 'btn btn-info btn-block',
                      data: {toggle: 'modal', reward_code: r.code} %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="pledge-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h2 class="my2"><%= p.title(locale) %></h2>
        <h5 class="mb1">by <%= link_to p.user.name, p.user %></h5>
      </div>
      <div class="modal-body" id="pledge-info">
        <!-- pledge content -->
      </div>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% if (@project.user == current_user || current_user.is_admin) %>
    <div class="floating-panel-right">
      <% if @project.user == current_user && (@project.status_div_temp? || @project.status_div_draft? || @project.status_div_remanded?) %>
        <h3 class="my1">This is<br>Preview</h3>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default btn-lg my1' %>
        <%= link_to 'Apply', apply_project_path(@project), class: 'btn btn-info btn-lg my1', data: { confirm: 'Are you sure?' } %>
      <% elsif current_user.is_admin && @project.status_div_applied? %>
        <h3 class="my1">This is<br>Preview</h3>
        <%= link_to 'Remand', remand_project_path(@project), class: 'btn btn-default btn-lg my1', data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Approve', approve_project_path(@project), class: 'btn btn-info btn-lg my1', data: { confirm: 'Are you sure?' } %>
      <% elsif @project.status_div_active? %>
        <h3 class="my1">This is<br>your project</h3>
        <%= link_to 'Suspend', suspend_project_path(@project), class: 'btn btn-danger btn-lg my1', data: { confirm: 'Are you sure?' } %>
      <% elsif current_user.is_admin && @project.status_div_suspended? %>
        <h3 class="my1">This is<br>your project</h3>
        <%= link_to 'Drop', drop_project_path(@project), class: 'btn btn-danger btn-lg my1', data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Resume', resume_project_path(@project), class: 'btn btn-info btn-lg my1', data: { confirm: 'Are you sure?' } %>
      <% else %>
        <h3 class="my1">This project is in <%= @project.status_div.t %> status</h3>
      <% end %>
    </div>
  <% end %>
<% end %>
