<h1>Listing Nations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alpha 2 code</th>
      <th>Alpha 3 code</th>
      <th>Numeric code</th>
      <th>Is to ship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nations.each do |nation| %>
      <tr>
        <td><%= nation.name %></td>
        <td><%= nation.alpha_2_code %></td>
        <td><%= nation.alpha_3_code %></td>
        <td><%= nation.numeric_code %></td>
        <td><%= nation.is_to_ship %></td>
        <td><%= link_to 'Show', nation %></td>
        <td><%= link_to 'Edit', edit_nation_path(nation) %></td>
        <td><%= link_to 'Destroy', nation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nation', new_nation_path %>
