<div class="fields">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <%= f.hidden_field :id %>
  <%= link_to_remove_field("Remove", f, {}) %>
</div>
