<footer class="global-footer">
  <div class="container px2 py2">
    <div class="row mt2">
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-6">
            <h3>Info</h3>
            <ul class="list-vertical mt2">
              <li><%= link_to 'What is Vin-Vin Funding?', 'http://lp.vinvin-funding.com', target: '_blank' %></li>
              <li><%= link_to 'Terms of Use', image_url('terms_of_use_ja.pdf'), target: '_blank' %></li>
              <li><%= link_to '特定商取引法に基づく表記', image_url('specified_commercial_transaction_law_ja.pdf'), target: '_blank' %></li>
            </ul>
          </div>
          <div class="col col-md-6">
            <h3>Help</h3>
            <ul class="list-vertical mt2">
              <li><%= link_to 'FAQ', pages_faq_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-6">
            <h3>Discover</h3>
            <ul class="list-vertical mt2">
              <% Category.sorted.each do |c| %>
                <li><%= link_to c.name(locale), discover_category_path(c) %></li>
              <% end %>
            </ul>
          </div>
          <div class="col col-md-6">
            <h3>Who we are</h3>
            <div class="about-company">
              <ul class="list-vertical">
                <li>
                  <%= link_to 'http://www.jepco.org', target: '_blank' do %>
                    <span class="h4">JEPCO, K.K.</span>
                    <span class="glyphicon glyphicon-new-window"></span>
                  <% end %>
                </li>
                <li>Since January 16, 2016</li>
                <br>
                <li>Akasaka Kaikan Building B1F</li>
                <li>Akasaka 2-13-5, Minato&nbsp;&nbsp;Tokyo</li>
                <br>
                <li><%= mail_to 'info@vinvin-funding.com' %></li>
              </ul>
            </div>

            <div class="my2">
              <div class="social clearfix">
                <!-- Facebook -->
                <div class="button facebook">
                  <div class="fb-share-button"
                    data-href="<%= ENV['APP_URL'] %>"
                    data-layout="button_count"
                    data-width="120"
                    data-show-faces="false"
                    data-mobile-iframe="true">
                  </div>
                </div>
                <!-- Twitter -->
                <div class="button twitter">
                  <a href="https://twitter.com/share" class="twitter-share-button"
                    data-lang="en"
                    data-url="<%= ENV['APP_URL'] %>"
                    data-text="Vin-Vin Funding is a platform which supports &quot;people who try something new in Vietnam&quot;"
                    data-hashtags="vvf,crowdfunding"
                  >Tweet</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="navbar-copyright">
  <div class="container-fluid">
    <div class="row">
      <div class="col footer-logo my1">
        <%= link_to image_tag('vvf_logo.png'), root_path %>
      </div>
      <div class="copyright-mark mt4">
        <span >
          <i class="glyphicon glyphicon-copyright-mark"></i><%= Date.today.year %>
        </span>
      </div>
    </div>
  </div>
      <div>
        <span>&nbsp;&nbsp;<%= "Version: #{BUILD_INFO['version']}" %></span>
        <span>&nbsp;&nbsp;<%= "Build: #{BUILD_INFO['build_date']}" %></span>
      </div>
</footer>
