<footer class="global-footer">
  <div class="container px2 py2">
    <div class="row mt2">
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-6">
            <h3><%= t('footer.info') %></h3>
            <ul class="list-vertical mt2">
              <li><%= link_to t('footer.about_vvf'), 'http://lp.vinvin-funding.com', target: '_blank' %></li>
              <li><%= link_to t('footer.terms'), image_url('terms_of_use_ja.pdf'), target: '_blank' %></li>
              <li><%= link_to t('footer.com_law'), image_url('specified_commercial_transaction_law_ja.pdf'), target: '_blank' %></li>
              <li><%= link_to t('footer.news'), pages_news_path %></li>
            </ul>
          </div>
          <div class="col col-md-6">
            <h3><%= t('footer.help') %></h3>
            <ul class="list-vertical mt2">
              <li><%= link_to t('footer.faq'), pages_faq_path %></li>
              <li><%= link_to t('footer.inquiry'), '#inquiry-modal', data: {toggle: :modal} %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-6">
            <h3><%= t('footer.discover') %></h3>
            <ul class="list-vertical mt2">
              <% Category.sorted.each do |c| %>
                <li><%= link_to c.name(locale), discover_category_path(c) %></li>
              <% end %>
            </ul>
          </div>
          <div class="col col-md-6">
            <h3><%= t('footer.about_us') %></h3>
            <div class="about-company">
              <ul class="list-vertical">
                <li>
                  <%= link_to 'http://www.jepco.org', target: '_blank' do %>
                    <span class="h4"><%= t('footer.jepco_kk') %></span>
                    <span class="glyphicon glyphicon-new-window"></span>
                  <% end %>
                </li>
                <li><%= t('footer.jepco_since') %></li>
                <br>
                <li><%= t('footer.jepco_address_1') %></li>
                <li><%= t('footer.jepco_address_2') %></li>
                <li><%= t('footer.jepco_address_3') %></li>
                <br>
                <li><%= mail_to 'info@vinvin-funding.com' %></li>
              </ul>
            </div>

            <div class="my2">
              <div class="social clearfix">
                <!-- Facebook -->
                <div class="button facebook">
                  <div class="fb-share-button"
                    data-href="<%= ENV['APP_URL'] %>"
                    data-layout="button_count"
                    data-width="120"
                    data-show-faces="false"
                    data-mobile-iframe="true">
                  </div>
                </div>
                <!-- Twitter -->
                <div class="button twitter">
                  <a href="https://twitter.com/share" class="twitter-share-button"
                    data-lang="en"
                    data-url="<%= ENV['APP_URL'] %>"
                    data-text="Vin-Vin Funding is a platform which supports &quot;people who try something new in Vietnam&quot;"
                    data-hashtags="vvf,crowdfunding"
                  >Tweet</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="navbar-copyright">
  <div class="container-fluid">
    <div class="row">
      <div class="col footer-logo my1">
        <%= link_to image_tag('vvf_logo.png'), root_path %>
      </div>
      <div class="copyright-mark mt4">
        <span >
          <i class="glyphicon glyphicon-copyright-mark"></i><%= Date.today.year %>
        </span>
      </div>
    </div>
  </div>
      <div>
        <span>&nbsp;&nbsp;<%= "Version: #{BUILD_INFO['version']}" %></span>
        <span>&nbsp;&nbsp;<%= "Build: #{BUILD_INFO['build_date']}" %></span>
      </div>
</footer>

<div class="modal fade" id="inquiry-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"><%= t('footer.inquiry') %></h2>
      </div>
      <div class="modal-body">
        <div class="form-horizontal col-md-offset-1">
          <div class="form-group">
            <%= label_tag :name, t('inquiry_modal.name'), class: 'control-label col-md-2' %>
            <div class="col-md-9">
              <%= text_field_tag :name, nil, class: 'form-control', id: 'inquiry-name' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :email, t('inquiry_modal.email'), class: 'control-label col-md-2' %>
            <div class="col-md-9">
              <%= email_field_tag :email, nil, class: 'form-control', id: 'inquiry-email' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :subject, t('inquiry_modal.subject'), class: 'control-label col-md-2' %>
            <div class="col-md-9">
              <%= text_field_tag :subject, nil, class: 'form-control', id: 'inquiry-subject' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag :details, t('inquiry_modal.details'), class: 'control-label col-md-2' %>
            <div class="col-md-9">
              <%= text_area_tag :details, nil, class: 'form-control', rows: '10', id: 'inquiry-details' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
              <%= link_to t('inquiry_modal.submit'), '#',
                id: 'inquiry-modal-submit', class: 'btn btn-info btn-block' %>
            </div>
          </div>
          <% if logged_in? %>
            <%= hidden_field_tag :user_id, current_user.id, id: 'inquiry-user-id' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inquiry-complete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"><%= t('footer.inquiry') %></h2>
      </div>
      <div class="modal-body">
        <h2 class="text-center mt2">Thank you for the inquiry.</h2>
        <h4 class="text-center my4">The admin team will contact you via email in 72 hours.</h4>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#inquiry-modal-submit').on('click', function() {
    if($('#inquiry-name').val() == ""){
      return alert('<%= t('inquiry_modal.item_is_empty', item: t('inquiry_modal.name')) %>');
    } else if ($('#inquiry-email').val() == ""){
      return alert('<%= t('inquiry_modal.item_is_empty', item: t('inquiry_modal.email')) %>');
    } else if ($('#inquiry-subject').val() == ""){
      return alert('<%= t('inquiry_modal.item_is_empty', item: t('inquiry_modal.subject')) %>');
    } else if ($('#inquiry-details').val() == ""){
      return alert('<%= t('inquiry_modal.item_is_empty', item: t('inquiry_modal.details')) %>');
    } else if (!isValidEmailAddress($('#inquiry-email').val())){
      return alert('<%= t('inquiry_modal.item_is_invalid', item: t('inquiry_modal.email')) %>');
    }

    return $.ajax({
      url: "/inquiries/create_from_modal",
      type: "POST",
      data: {
        user_id: $('#inquiry-user-id').val(),
        name: $('#inquiry-name').val(),
        email: $('#inquiry-email').val(),
        subject: $('#inquiry-subject').val(),
        details: $('#inquiry-details').val()
      },
      dataType: "",
      success: function(data, status, xhr) {
        $('#inquiry-modal').modal('hide');
        return $('#inquiry-complete-modal').modal('show');
      },
      error: function(xhr, status, error) {
        return alert('Failed to send your inquiry!!\n[Error] ' + error);
      }
    });
  });
</script>
