<footer class="global-footer">
  <div class="container px2 py2">
    <div class="row mt2">
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-6">
            <h3>Info</h3>
            <ul class="list-no-style mt2">
              <li><%= link_to 'About us', root_path %></li>
              <li><%= link_to 'menu', root_path %></li>
            </ul>
          </div>
          <div class="col col-md-6">
            <h3>Help</h3>
            <ul class="list-no-style mt2">
              <li><%= link_to 'menu', root_path %></li>
              <li><%= link_to 'menu', root_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="row">
          <div class="col col-md-6">
            <h3>Discover</h3>
            <ul class="list-no-style mt2">
              <% Category.sorted.each do |c| %>
                <li><%= link_to c.name(locale), discover_category_path(c) %></li>
              <% end %>
            </ul>
          </div>
          <div class="col col-md-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="navbar-copyright">
  <div class="container-fluid">
    <div class="row">
      <div class="col footer-logo my1">
        <%= link_to image_tag('vvf_logo.png'), root_path %>
      </div>
      <div class="copyright-mark mt4">
        <span >
          <i class="glyphicon glyphicon-copyright-mark"></i>2016
        </span>
      </div>
    </div>
  </div>
</footer>

<footer class="navbar navbar-default">
  <div id="nav">
    <span><strong>Master maintenance:</strong></span>
    <%= link_to 'Languages', languages_path %> |
    <%= link_to 'Categories', categories_path %> |
    <%= link_to 'Users', users_path %> |
    <%= link_to 'Payment Vendors', payment_vendors_path %> |
    <%= link_to 'Nations', nations_path %>
  </div>
  <div id="nav">
    <span><strong>Links:</strong></span>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Projects', projects_path %> |
    <%= link_to 'Pledge', pledges_path %>
  </div>
</footer>
