<% if params[:action] == 'top' %>
  <% navbar_classes = 'navbar-fixed-top navbar-ghost top-header' %>
  <% btn_classes = 'btn-white top-header-btn' %>
<% else %>
  <% navbar_classes = 'navbar-default' %>
  <% btn_classes = 'btn-default' %>
<% end %>
<header class="navbar <%= navbar_classes %>">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <span>Vin-Vin Funding</span>
      <small>Beta</small>
    <% end %>
  </div>
  <div class="collapse navbar-collapse target">
    <ul class="nav navbar-nav">
      <li><%= link_to t('header.discover'), discover_search_path %></li>
      <li><%= link_to t('header.start'), start_projects_path %></li>
      <li><%= link_to t('header.about'), 'http://lp.vinvin-funding.com', target: '_blank' %></li>
    </ul>
    <%= form_tag('/discover/search', method: 'get', class: 'navbar-form navbar-left') do %>
      <div class="form-group">
        <%= text_field_tag :term, '', class: 'form-control form-control-ghost',
          placeholder: t('header.search') %>
      </div>
      <button type="submit" class="btn <%= btn_classes %> btn-ghost">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <% cur_lang, sel_lang = Language.sorted.pluck(:code).partition do |c| %>
        <% (params[:locale].blank? && c == 'en') || params[:locale] == c %>
      <% end %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= cur_lang[0] %>
        </a>
        <ul class="dropdown-menu">
          <% sel_lang.each do |c| %>
            <li><%= link_to c, url_for(locale: c) %></li>
          <% end %>
        </ul>
      </li>
      <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('header.mypage'), current_user %></li>
            <li><%= link_to t('header.settings'), edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to t('header.logout'), :logout, method: :post %></li>
          </ul>
        </li>
        <% if current_user.is_admin %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Languages', languages_path %></li>
              <li><%= link_to 'Categories', categories_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Payment Vendors', payment_vendors_path %></li>
              <li><%= link_to 'Nations', nations_path %></li>
              <li><%= link_to 'FAQs', faqs_path %></li>
              <li><%= link_to 'App Setting', app_settings_path %></li>
              <li><%= link_to 'News', news_index_path %></li>
              <li><%= link_to 'Inquiries', inquiries_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Projects', projects_path %></li>
              <li><%= link_to 'Pledges', pledges_path %></li>
            </ul>
          </li>
        <% end %>
      <% else %>
        <li><a data-toggle="modal" href="#signup-modal"><%= t('header.signup') %></a></li>
        <li><a data-toggle="modal" href="#login-modal"><%= t('header.login') %></a></li>
      <% end %>
    </ul>
  </div>
</header>

<div class="modal fade" id="signup-modal">
  <div class="modal-dialog modal-dialog-middle">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"><%= t('signup_modal.signup') %></h2>
      </div>
      <div class="modal-body">
        <%= link_to auth_at_provider_path(provider: :facebook), class: 'btn btn-primary btn-block btn-lg my1' do %>
          <h3><%= image_tag('icon_fb_64_w.png', size: '35x35') %>&nbsp;&nbsp;Facebook</h3>
        <% end %>
        <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-info btn-block btn-lg my1' do %>
          <h3><%= image_tag('icon_tw_64_w.png', size: '35x35') %>&nbsp;&nbsp;Twitter</h3>
        <% end %>
        <hr>
        <%= link_to t('signup_modal.signup_with_email'), new_user_path %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="login-modal">
  <div class="modal-dialog modal-dialog-middle">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"><%= t('login_modal.login') %></h2>
      </div>
      <div class="modal-body">
        <%= link_to auth_at_provider_path(provider: :facebook), class: 'btn btn-primary btn-block btn-lg my1' do %>
          <h3><%= image_tag('icon_fb_64_w.png', size: '35x35') %>&nbsp;&nbsp;Facebook</h3>
        <% end %>
        <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-info btn-block btn-lg my1' do %>
          <h3><%= image_tag('icon_tw_64_w.png', size: '35x35') %>&nbsp;&nbsp;Twitter</h3>
        <% end %>
        <hr>
        <%= link_to t('login_modal.login_with_email'), :login, class: 'btn btn-default btn-block' %>
        <br>
        <%= link_to t('login_modal.forgot_password'), new_password_reset_path %>
      </div>
    </div>
  </div>
</div>
